@import "sass/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600;900&display=swap");

/*
  NOTE: Animations look like ass in firefox (and probably other non-webkit browsers)
  this seems to be because webkit does some sort of sub-pixel smoothing to make things
  less jittery.
*/

@mixin heroImage() {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("assets/splash_compressed.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    filter: grayscale(25%);
  }
}

@mixin unsetHeroImage() {
  position: unset;
  &:after {
    content: none;
    position: unset;
    background-image: unset;
    filter: unset;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 112.5%;
  font-family: "Source Sans Pro", sans-serif;
  color: $text-color;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

body {
  background-color: $col-background;
}

@mixin starBG() {
  $splash-color: black;
  background: url("/assets/splash_stars.png");
  background-color: $splash-color;
  background-repeat: all;
  animation: bgshift 100s infinite linear;
  -moz-animation: none;
  -ms-animation: none;
}

@keyframes hueshift {
  0% {
    filter: hue-rotate(0deg);
  }
  0% {
    filter: hue-rotate(360deg);
  }
}
@keyframes bgshift {
  0% {
    background-position: 0% 0%;
  }
  0% {
    background-position: 100% 100%;
  }
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // background-color: $col-foreground;
  // background-color: #1b1b1b;
  background: radial-gradient(
    ellipse at bottom,
    darken(#90565633, 5%) 25%,
    black
  );
  position: relative;
  @include heroImage();
  #splash-wrapper {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    @include starBG();
  }
  header {
    z-index: 3;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    width: 100%;
    margin: 0px 20px 5rem 20px;
    h1 {
      word-spacing: 9999rem;
      width: 100%;
      color: $text-color;
      text-transform: lowercase;
      font-size: 3em;
      position: relative;
      margin-top: 1rem;
      margin-bottom: 3rem;
      transform: translateY(-1rem);
      animation: fadeIn 500ms forwards ease-out,
        moveDown 500ms forwards ease-out;
      &::after {
        $size: 10px;
        position: absolute;
        content: "";
        background-color: $text-color;
        bottom: -($size + 10px);
        left: 0;
        width: 100%;
        height: $size;
        transform: scaleX(0);
        transform-origin: center left;
        animation: headerUnderlineAppear 500ms forwards 650ms;
        animation-timing-function: cubic-bezier(0.78, 0.14, 0.43, 0.96);
      }
    }
    nav {
      width: 100%;
      text-align: right;
      a {
        $active-color: #aeb4a9;
        text-transform: uppercase;
        font-weight: 900;
        text-decoration: none;
        letter-spacing: 1px;
        color: $text-color;
        position: relative;
        opacity: 0;
        animation: fadeIn 500ms forwards 500ms;
        &:not(:first-of-type) {
          margin-left: 1em;
        }
        &:visited {
          color: $text-color;
          text-decoration: none;
        }
        &::after {
          transform: scaleX(0);
          $size: 3px;
          position: absolute;
          content: "";
          background-color: $active-color;
          bottom: -($size + 3px);
          left: 0;
          width: 100%;
          height: $size;
          transition: 150ms all ease-out;
        }
        &:hover {
          color: $active-color;
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
    p {
      line-height: 1.5rem;
      margin-top: 3rem;
      font-size: 1rem;
      font-weight: 600;
      color: $text-color;
    }
  }
}

#additional-section {
  margin-top: 20%;
  display: none;
  max-width: 500px;
  padding: 0 60px;
  opacity: 0;
  transform: translateY(-1rem);
  animation: fadeIn 1000ms ease 1500ms forwards;
}
// Set staggered fade in animations for nav links
@for $val from 1 through 4 {
  nav a:nth-of-type(#{$val}) {
    animation: fadeIn 500ms ease-out (800ms + 100ms * $val) forwards;
  }
  .splash:nth-of-type(#{$val}) {
    position: absolute;
    content: "";
    width: 100%;
    opacity: 50% + (5% * $val);
    @include starBG();
    height: 100%;
    transform: translateY(-30vh);
    clip-path: url(#clippy-#{$val});
  }
  svg {
    clipPath:nth-of-type(#{$val}) {
      path {
        animation: waves infinite linear;
        animation-duration: (18s + (6s * $val));
        animation-delay: -18s * ($val - 1);
        animation-direction: alternate;
        -moz-animation: none;
        -ms-animation: none;
      }
    }
  }
}

@keyframes waves {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-800px, 0, 0);
  }
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  main {
    grid-column: 2 / 3;
    padding: 0 40px;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main {
    grid-column: 1 / 2;
  }
  #additional-section {
    grid-column: 2 / 3;
    display: block;
  }
}
@media only screen and (min-width: 1400px) {
  body {
    grid-template-columns: 1fr auto 3fr;
  }
  main {
    grid-column: 2 / 3;
  }
  #additional-section {
    grid-column: 3 / 4;
    display: block;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes headerUnderlineAppear {
  0% {
    transform: scaleX(0);
    opacity: 20%;
  }
  100% {
    transform: scaleX(1);
    opacity: 100%;
  }
}
