@import "../sass/reset.scss";
@import "styles/colors.scss";
@import "styles/typography.scss";
@import "styles/layout.scss";
@import "styles/icons-base64.scss";

@media only print {
  $header-size: 7rem;
  // Need to hack header to have its own row using margin
  html {
    font-size: 14px;
    margin-top: $header-size;
  }
  h1 {
    margin-top: -$header-size;
    margin-bottom: $header-size;
    color: $primary;
    + p {
      margin-top: -$header-size;
    }
  }
  h2 {
    // Remove position sticky
    position: relative;
    top: unset;
    &::before {
      margin-top: -1rem;
    }
  }
  body {
    // Set up columns, this doesn't work with wkhtmltopdf, seems there's
    // a known issues with it. For the moment I'll just manually save from chrome.
    column-count: 2;
    column-gap: 3em;
    -webkit-column-count: 2;
    -webkit-column-gap: 3em;
  }
  #content {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  h3,
  h4 {
    break-before: always;
  }
  h2 {
    // This makes background-image work on print for chrome + safari
    // Don't care too much about support since I just want to generate the pdf
    -webkit-print-color-adjust: exact;
    &::before,
    &::after {
      -webkit-print-color-adjust: exact;
    }
  }
  #education {
    @include withIcon("education");
  }
  #skills {
    @include withIcon("clipboard");
  }
  #about-me {
    @include withIcon("id-card");
  }
  #work-experience {
    @include withIcon("briefcase");
  }
  #footer {
    // could make it include link to web version
    display: none;
  }
  #main,
  #content {
    display: block;
  }
  h4 {
    display: inline;
  }
}
