$primary: darken(#ca6c6c, 10%);
$bg-content: white;

$bg-color1: transparentize(pink, 0.5);
$bg-color2: transparentize(slategray, 0.6);
$bg-color3: transparentize(red, 0.5);
$bg-color-neutral: darken(white, 3%);
@mixin stripedBackground() {
  $size: 80px;
  background-color: $bg-color-neutral;
  // Think I changed my mind on this, it was fun but perhaps a bit too gaudy

  // background: linear-gradient($bg-color-neutral, $bg-color-neutral),
  //   repeating-linear-gradient(
  //     -45deg,
  //     $bg-color1,
  //     $bg-color1 $size,
  //     $bg-color2 $size,
  //     $bg-color2 $size * 2
  //   ),
  //   repeating-linear-gradient(
  //     45deg,
  //     $bg-color3,
  //     $bg-color3 $size,
  //     $bg-color2 $size,
  //     $bg-color2 $size * 2
  //   );
}
