@import "./colors.scss";
@import "./typography.scss";
@import "icons-base64.scss";

body {
  width: 100%;
}

#main {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  margin-bottom: 0;
}

#content {
  grid-column: 2 / 3;
  width: 100%;
  display: grid;
  padding-bottom: 100px;
  margin-bottom: 0;
  background-color: $bg-content;
}

#footer {
  grid-column: 1 / 4;
  background-color: $bg-content;
  margin-bottom: 0;
  text-align: center;

  #icon-attribution {
    font-style: italic;
  }
}

// Now begins the strange weirdly specific styling since the markdown
// doesn't have that much semantic structure
h4 + p {
  margin-top: 0;
  line-height: 0.5em;
}

h4 {
  display: inline;
}

/* Date format */
code {
  font: normal normal;
  font-size: 70%;
  font-family: Menlo, monospace, sans-serif;
  color: #464646;
}

h1 + p {
  /*header subtitle, job title + email*/
  font-style: italic;
  font-size: 110%;
  margin-top: 0;
  margin-bottom: 0;
}

h1 + p > a {
  display: block;
  color: #464646;
  font-family: Menlo, monospace, sans-serif;
  font-size: 80%;
  text-decoration: none;
  margin-bottom: 0;
}

h2 + p {
  margin-top: 0;
}

h2 + h4 {
  margin-top: 0;
}

h2 {
  position: sticky;
  top: 0;
  background-color: $bg-content;
}

// Skills section
h2#skills {
  ~ h4 {
    @include margin-top(0.5);
  }
  // first header no margin
  + h4 {
    @include margin-top(0);
  }
}
h2#skills ~ h4 + ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  > li {
    display: inline-block;
    margin-right: 1ch;
    &:before {
      font-weight: bold;
      content: "#";
      color: $primary;
      margin-right: 0.2em;
    }
  }
}

@mixin headerIcon($iconUrl, $size, $padding) {
  padding-left: $size + $padding;
  @include withIcon($iconUrl);
  &::before {
    width: $size;
    height: $size;
    background-size: contain;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
  }
}
$icon-size: 35px;
$icon-padding: 15px;
#about-me {
  @include headerIcon("id-card", $icon-size, $icon-padding);
}
#work-experience {
  @include headerIcon("briefcase", $icon-size, $icon-padding);
}
#education {
  @include headerIcon("education", $icon-size, $icon-padding);
}
#skills {
  @include headerIcon("clipboard", $icon-size, $icon-padding);
}

@media only screen and (min-width: 576px) {
  #about-me,
  #work-experience,
  #education,
  #skills {
    padding-left: 0;
    &::before {
      position: absolute;
      left: -($icon-size + $icon-padding);
      top: 6px;
      content: "";
    }
  }
  h2 {
    position: relative;
    top: unset;
  }
  #main {
    @include stripedBackground();
  }
  #content {
    grid-column: 1 / 4;
    grid-template-columns: 80px minmax(400px, 600px) 80px;
    padding-bottom: 100px;
  }
  #content > * {
    grid-column: 2 / 3;
  }
}

@media only screen and (min-width: 768px) {
  #about-me,
  #work-experience,
  #education,
  #skills {
    $icon-size: 50px;
    $icon-padding: 30px;
    &::before {
      width: $icon-size;
      height: $icon-size;
      left: -($icon-size + $icon-padding);
    }
  }
  // Add icons to headers
  #main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  #footer {
    grid-column: 2 / 3;
  }
  #content {
    grid-column: 2/ 3;
    grid-template-columns: 0px auto minmax(400px, 600px) 60px;
  }
  #content > * {
    grid-column: 3 / 4;
  }
  /* adjust  date after occupation */
  #content h4 + p {
    grid-column: 2 / 3;
    text-align: right;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: calc(var(--lh) * -0.75);
  }
  /* adjust paragraph after date*/
  h4 + p + p {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1000px) {
  #main {
    grid-template-columns: 5fr auto 9fr;
  }
}
