@import "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap");
// Variables
$base-font-size: 112.5; // Gets used as %
$line-height: 1.45;

// Vertical rhythm mixins
@mixin line-height($number) {
  line-height: #{$number * $line-height + "rem"};
}

@mixin margin-top($number) {
  margin-top: #{$number * $line-height + "rem"};
}

@mixin margin-bottom($number) {
  margin-bottom: #{$number * $line-height + "rem"};
}

html {
  font-size: #{$base-font-size + "%"}; // 112.5% = 18 pixels
  font-family: "Frank Ruhl Libre", serif;
}

body * {
  @include line-height(1);
  @include margin-bottom(1);
  @include margin-top(0);
}

$headings: (
  h1: (
    2,
    3,
    1,
  ),
  h2: (
    1.5,
    2,
    1,
  ),
  h3: (
    1.5,
    1,
    0,
  ),
  h4: (
    1,
    1,
    0,
  ),
  h5: (
    1,
    1,
    0,
  ),
  h6: (
    1,
    1,
    0,
  ),
);

// Set line-heights and margins
@each $heading, $properties in $headings {
  #{$heading} {
    @include line-height(nth($properties, 1));
    @include margin-top(nth($properties, 2));
    @include margin-bottom(nth($properties, 3));
  }
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2.25rem;
  color: #c35757;
  text-transform: uppercase;
}

@media only screen and (min-width: 410px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.25rem;
  color: $primary;
}

/* underline h2s */
h2:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 100%;
  background-color: $primary;
}

h3 {
  font-size: 1rem;
}

/* job experience title */
h4 {
  font-size: 1rem;
  color: #333;
  letter-spacing: 0;
}

h4 + p {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: $primary;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.8em;
}

p {
  margin-top: calc(var(--lh) * 0.5);
}

ul {
  list-style-type: disc;
}

ul,
ol {
  padding-left: 0;
  list-style-position: inside;
}
ul > li,
ol > li {
  margin-bottom: 0;
  padding-left: 1em;
  text-indent: -1em;
}

blockquote {
  quotes: "“" "”" "‘" "’";
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }
  > p {
    hanging-punctuation: first;
    display: inline;
  }
}

@media only screen and (min-width: 576px) {
  ul,
  ol {
    padding-left: 0;
    text-indent: 0;
    list-style-position: outside;
  }
  ul > li,
  ol > li {
    padding-left: 0em;
    text-indent: 0em;
  }
}
