@import "colors";

article {
  padding-top: 4rem;
  box-sizing: border-box;
  display: inline-grid;
  grid-template-columns: minmax(2rem, 10rem) minmax(650px, 750px) minmax(
      2rem,
      10rem
    );
  min-height: 100vh;
  background-color: $col-foreground;
  filter: grayscale(25%);
  > * {
    margin-top: 0;
    grid-column: 2 / 3;
  }
  img,
  pre {
    grid-column: 1 / 4;
  }
  img {
    width: 100%;
    height: auto;
  }
  header {
    h1 {
      margin: 0;
      line-height: 3rem;
    }
    small {
      font-style: italic;
    }
    margin-bottom: 2rem;
  }
  p {
    code {
      background-color: #ccc;
      border-radius: 3px;
    }
    a {
      color: $text-color;
      text-decoration: underline;
      &:visited {
        color: $text-color;
      }
      &:hover {
        color: lighten($text-color, 20%);
      }
    }
  }
  footer {
    grid-column: 1 / 4;
    border-top: 2px dashed #aaa;
    padding: 2rem 2rem 2rem;
    margin-top: 2rem;
    nav {
      display: flex;
      justify-content: space-between;
      a {
        font-size: 1.2em;
        color: $text-color;
        &:hover,
        &:visited {
          color: $text-color;
        }
      }
    }
  }
}

@media only screen and (max-width: 756px) {
  article {
    grid-template-columns: 1rem 1fr 1rem;
  }
}
