$col-background: darken(white, 5%);
$col-foreground: white;
$text-color: black;
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap");
body,
html {
  margin: 0;
  padding: 0;
}

// TODO add more article padding, make img and (pre)code stretch over article padding
#hero-image {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 500px;
}

pre > code {
  padding: 1rem 3rem !important;
}

body {
  font-size: 16px;
  background-color: $col-background;
  color: $text-color;
  font-family: "Merriweather", serif;
}
body * {
  line-height: 26px;
}

header {
  h1 {
    margin: 0;
    line-height: 3rem;
    text-decoration: underline;
  }
  small {
    font-style: italic;
  }
  margin-bottom: 2rem;
}

body {
  display: flex;
  justify-content: center;
}
article {
  box-sizing: border-box;
  display: inline-grid;
  grid-template-columns: 10rem minmax(500px, 750px) 10rem;
  min-height: 100vh;
  background-color: $col-foreground;
  filter: grayscale(25%);
  > * {
    grid-column: 2 / 3;
  }
  img,
  pre {
    grid-column: 1 / 4;
  }
  img {
    width: 100%;
    height: auto;
  }
}

// @media only screen and (min-width: 576px) {
//   main {
//     padding: 3rem 40px;
//   }
// }
// @media only screen and (min-width: 756px) {
//   body {
//     display: grid;
//     grid-template-columns: 1fr minmax(450px, 650px) 1fr;
//   }
//   main {
//     grid-column: 2 / 3;
//   }
// }

// @media only screen and (min-width: 1400px) {
//   body {
//     grid-template-columns: 1fr minmax(500px, 750px) 2fr;
//   }
// }
