@import "styles/colors";
@import "styles/darcula";
@import "styles/typography";
@import "styles/article";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

// TODO add more article padding, make img and (pre)code stretch over article padding
#hero-image {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 500px;
}

pre > code {
  padding: 1rem 3rem !important;
}

body {
  background-color: $col-background;
  color: $text-color;
  font-family: "Merriweather", serif;
}

body {
  display: flex;
  justify-content: center;
}
